extends /layout.pug

block content

  h3 Admin Login

  form(action="/admin/login" method="post")
      label Username:
      input(type="text" name="username")
      br
      label Password:
      input(type="password" name="password")
      input(type="submit" value="Submit")